    @import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');
    
    .card{
        width: 280px;
        height: 320px;
        border-radius: 15px;
        background-color: whitesmoke;
        box-shadow: 2px 5px 5px 2px grey;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: black;
        font-size: 1.6rem;
        padding: 20px;
        position: relative;
    }

    .group_1{
        width: 100%;
        
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .group_2{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 30px;
    }

    .login, .password{
        height: 30px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: rgb(158, 158, 158);
        color: black;
        font-size: 1rem;
        font-family: "Chivo Mono", monospace;
        font-optical-sizing: auto;
        text-indent: 20px;
    }