.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}
.main {
  display: flex;
  min-height: 100svh;
  height: 100%;
  width: 70%;
  max-width: 100%;
  background-color: #383838;
  position: relative;
}

.nav_bar{
  width: 40%;
  height: 100svh;
  background-color: #303030;
  border-right: 5px solid #202020;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5.5rem;
  padding: 3rem 0px;
}

.items_info{
  width: 60%;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group_1{
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  padding: 50px;
  position: relative;
  cursor: default;

    & p{
      font-size: 1.5rem;
      width: 100%;
    }

    & #login_group, #password_group{
      display: flex;
      gap: 20px;
      width: 100%;
      position: relative;
      align-items: flex-end;
      

        & button{
          width: 40px;
          height: 40px;
          background: none;
          outline: none;
          border: none;
          cursor: pointer;
          transition: all .1s ease;
          border-radius: 10px;
          position: absolute;
          left: calc(100% - 320px);
          border: 1px solid #1a1a1a;

            &:active{
              background-color: #1a1a1a;
            }
        }
    }

    & input{
      width: 400px;
      height: 40px;
      border: none;
      outline: none;
      background: none;
      border-radius: 5px;
      border: 1px solid #1a1a1a;
      border: 1px solid #1a1a1a;
      padding: 20px;
      cursor: pointer;
    }

    & #info_title{
      font-size: 3rem;
      font-weight: 500;
    }
}

.group_2{
  height: 50%;
  width: 100%;
  cursor: default;
  padding: 50px;

    & h2{
      font-size: 3rem;
    }

    & form{
      width: 80%;
      height: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      justify-content: space-evenly;

        & #code{
          font-size: 1.8rem;
          letter-spacing: 1.5rem;
          color: white;
          width: 55%;
          text-indent: 10%;
          padding: 20px;
          outline: none;
          background: none;
          border: 1px solid rgb(0, 81, 255);
          border-radius: 10px;
          cursor:pointer;
        }

        & .timer{
          width: 100%;
          font-size: 3rem;
          color: rgb(0, 81, 255);
        }
    }
}

a.primary {
  background: var(--text-primary);
  color: var(--background);
  gap: 8px;
}

a.secondary {
  border-color: var(--button-secondary-border);
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 48px 24px;
  }
}

@media (max-width: 1080px) {
  .main{
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --background: #000;
    --foreground: #000;

    --text-primary: #ededed;
    --text-secondary: #999;

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
    --button-secondary-border: #1a1a1a;
  }
}
