    .nav_item{
        width: 90%;
        height: 60px;
        background-color: #333333;
        transition: all .2s ease;
        align-content: center;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0px 30px;
        cursor: pointer;
        border-radius: 15px;
        border: 3px solid #111111;


            &:hover{
                
                transform: translateX(10px);
            }
    }