    .nav_item{
        width: 90%;
        height: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 0px 50px;
        margin: auto;
        border-radius: 15px;
        background: none;
        cursor: pointer;
        transition: all .2s ease;
        position: relative;
        
            &:active{
                background-color: rgba(255, 255, 255, 0.384);
            }
    }
    