    .nav_item{
        width: 90%;
        height: 100px;
        background-color: #333333;
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 0px 50px;
        margin: auto;
        border-radius: 15px;
        background: none;
        cursor: pointer;
        transition: all .2s ease;

            &:hover{

            }
    }

    .selected{
        background-color: blue;
    }