    .nav_item{
        width: 100%;
        height: 100px;
        background-color: #333333;
        border: 1px solid blue;
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 0px 50px;
    }